/* ======common style====== */
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&display=swap');
.font-teko {
    font-family: 'Teko', sans-serif;
    font-weight: 400;
}


/* =======reset======= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    color: #000;
    line-height: 1.4;
    background-color: #EEEEEE;
}

@media only screen and (max-width: 320px) {
    body {
        min-width: 320px;
        overflow-x: hidden;
    }
}

a {
    text-decoration: none;
    color: unset;
    transition: 0.2s;
}

a:hover {
    text-decoration: none;
    opacity: 0.7;
}

ul,
li {
    list-style-type: none;
    margin: 0px;
}

img {
    display: block;
    max-width: 100%;
    transition: .2s;
}

p,
span,
ul,
li,
a,
div,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

input,
textarea,
select,
button {
    outline: none;
}

input {
    line-height: normal;
}

label,
button {
    cursor: pointer;
    outline: none;
    border: none;
}

label:focus,
button:focus {
    outline: none;
}
/* =======end - reset======= */

.container {
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
    width: 100%;
}

/* =========start - header========= */
header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 200;
    max-height: 80px;
    overflow: hidden;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
}

.header__logo img  {
    max-width: 173px;
}

.main-menu {
    display: flex;
    align-items: center;
    background-color: #fff;
}

.main-menu li {
    background-color: #fff;
    margin: 0px 16px;
}

.main-menu li a {
    text-align: center;
    font-size: 10px;
    padding: 20px 15px;
    display: block;
    max-height: 80px;
    position: relative;

    -webkit-transition: background-size 0.4s cubic-bezier(0.86, 0, 0.07, 1), color 0.6s cubic-bezier(0.86, 0, 0.07, 1);
    transition: background-size 0.4s cubic-bezier(0.86, 0, 0.07, 1), color 0.4s cubic-bezier(0.86, 0, 0.07, 1);
    background-image: -webkit-gradient( linear, left top, left bottom, from(#D85E2D), to(#D85E2D) );
    background-image: linear-gradient(#D85E2D, #D85E2D);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: 0 4px;
    text-decoration: none;
}

.main-menu li a:hover {
    background-position: 0 100%;
    background-size: 100% 4px;
    opacity: 1;
}

.main-menu li.current a::after {
    position: absolute;
    content: "";
    width: 100%;
    bottom: 0;
    height: 4px;
    left: 0;
    background-color: #D85E2D;
}

.main-menu li a span {
    display: block;
    font-size: 18px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.main-menu li:last-child {
    background-color: #D85E2D;
    color: #fff;
    padding: 0 30px;
    margin: 0px;
}

.main-menu li:last-child a span {
    font-size: 20px;
}
/* =========edn - header========= */

.section {
    padding: 65px 0px;
}

.section__title {
    text-align: left;
    padding-top: 130px;
    position: relative;
}

.section__title h2 {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    background-color: #D85E2D;
    padding: 4px 32px;
    position: relative;
    z-index: 2;
    font-weight: 300;
}

.section__title span {
    position: absolute;
    color: #fff;
    text-transform: uppercase;
    font-size: 145px;
    left: 0px;
    line-height: 1;
    top: 40px;
}

.section__title p {
    margin-top: 22px;
    font-size: 16px;
}

.btn-site {
    font-size: 18px;
    color: #fff;
    padding: 7.5px 15px 7.5px 40px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #fff;
    cursor: pointer;
    transition: 0.2s;
    flex-wrap: nowrap;
    white-space: nowrap;
}

.btn-site:hover { 
    background-color: #D85E2D;
    border-color: #D85E2D;
    opacity: 1;
}

.btn-site img {
    max-width: 6px;
    margin-left: 34px;
}

.menu-mobile-icon {
    display: none;
}

/* ============start - responsive============ */
@media only screen and (max-width:991px) {
    header {
        overflow: visible;
    }
    .header__nav {
        position: absolute;
        width: 100%;
        left: 0;
        z-index: 3;
        top: 100%;
        height: auto;
        display: none;
    }
    .header__nav.show { 
        display: block;
    }
    .main-menu {
        flex-direction: column;
        padding: 0px 0px;
    }
    .main-menu li {
        width: 100%;
        margin: 0px;
        padding: 0px 20px;
    }
    .main-menu li a {
        text-align: left;
        padding-left: 0px;
        padding-right: 0px;
    }
    .header__inner {
        position: relative;
        padding: 14px 20px;
    }
    .menu-mobile-icon {
        min-width: 50px;
        width: 50px;
        height: 34px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0px 10px 0px rgb(255 255 255 / 60%);
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
        z-index: 10;
    }
    .menu-mobile-icon span {
        left: 9px;
        position: absolute;
        width: 32px;
        height: 3px;
        border-radius: 3px;
        background-color: #D85E2D;
        transition: 0.5s;
    }
    .menu-mobile-icon span:nth-child(1) {
        transform: translateY(-8px);
        width: 24px;
        left: 9px;
    }
    .menu-mobile-icon.active span:nth-child(3) {
        transform: translateX(70px);
    }
    .menu-mobile-icon span:nth-child(2) {
        transform: translateY(8px);
        width: 13px;
        left: 9px;
    }
    .menu-mobile-icon.active span:nth-child(1) {
        width: 32px;
        transform: translateY(0px) rotate(45deg);
        transition-delay: 0.125s;
    }
    .menu-mobile-icon.active span:nth-child(2) {
        width: 32px;
        transform: translateY(0px) rotate(315deg);
        
        transition-delay: 0.25s;
    }
    
}

@media only screen and (max-width: 768px){
    .btn-site {
        font-size: 16px;
    }
    
}