/* ========home page style======== */

/* section hero */
.section-hero {
    background-image: url(../image/hero-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    min-height: 700px;
    position: relative;
}

.hero__content {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
}

.hero__content h1 {
    font-size: 145px;
    color: #fff;
    line-height: 1;
}

.hero__content p {
    display: flex;
    flex-direction: column;
}

.hero__content p span {
    font-size: 22px;
    color: #fff;
    display: inline-block;
    width: fit-content;
    padding: 4px 40px 4px 5px;
    background-color: #000;
    margin-bottom: 10px;
}

/* end - section hero */

/* section strengths */
section.strengths {
    width: 100%;
}

.strengths__content img {
    max-width: 624px;
    width: 100%;
    margin: 0 auto;
}
/* end - section strengths */

/* ====section service==== */
#services {
    padding-bottom: 0px;
}
.service__content {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin-top: 62px;
}

.service-layout__l {
    width: 42%;
}

.service-layout__l > img {
    height: 100%;
}

.service-layout__r {
    width: 58%;
    display: flex;
    flex-direction: column;
}

.service-layout__r .service__item {
    height: 50%;
}

.service__item {
    position: relative;
}

.service__item-text {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: auto;
    color: #fff;
    padding: 40px 40px;

    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
}

.service__item-text h3 {
    font-size: 20px;
    margin: 10px 10px 10px 0px;
}

.service__item-text a {
    margin-bottom: 10px;
}

.service__item-text h3 span  {
    font-size: 60px;
    text-transform: uppercase;
    color: #D85E2D;
    display: inherit;
    line-height: 0.55;
    margin-top: 20px;
}
/* ====end - section service==== */

/* ============start - responsive============ */
@media only screen and (max-width:991px) {
    .hero__content h1 {
        font-size: 90px;
    }
    .service__item-text h3  {
        font-size: 18px;
    }
    .service__item-text h3 span  {
        font-size: 28px;
    }
    .section__title {
        padding-top: 80px;
    }
    .section__title span {
        font-size: 90px;
    }
    .section__title span {
        top: 33px;
    }
    .strengths__content {
        margin-top: 30px;
    }
    .service__item-text {
        padding-bottom: 20px;
    }
}
@media only screen and (max-width:768px) {
    .section__title span {
        font-size: 80px;
    }
    .service-layout__l,
    .service-layout__r {
        width: 100%;
    }
    .service__item-text {
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .service-layout__l > img {
        max-height: 460px;
        object-fit: cover;
        width: 100%;
    }
    .hero__content p span {
        font-size: 20px;
    }
    .hero__content h1 {
        font-size: 80px;
    } 
}